" Shared base config
source ~/.vim/init.vim

" ideavim action list
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
" remaps article
" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b/

" enables system clipboard for ideavim
set clipboard+=unnamed
set clipboard+=ideaput

" join using rider
set ideajoin
" keeps current vim mode after executing refactor commands
set idearefactormode=keep

" opens ideavimrc and source it
nnoremap <leader>oc :e ~/.ideavimrc<CR>
nnoremap <leader>sc :action IdeaVim.ReloadVimRc.reload<CR>

" toggle distraction free mode
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>

" terminal shortcuts
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <c-t> :action Terminal.OpenInTerminal<CR>

" open split windows
nnoremap <leader>v :action SplitVertically<CR>
nnoremap <leader>h :action SplitHorizontally<CR>

" window close
nnoremap <Leader>q :action CloseContent<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

" reselects after indenting
vnoremap < <gv
vnoremap > >gv

" method navigation
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" comment code
nnoremap <c-k>c :action CommentByLineComment<CR>
vnoremap <c-k>c :action CommentByLineComment<CR>

" open refactor menu
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>

" format code
nnoremap <leader>f :action ReformatCode<CR>

" format imports
nnoremap <leader>oi :action OptimizeImports<CR>

" show recent opened files
nnoremap <leader>gr :action RecentFiles<CR>

" show recent cursor positions
nnoremap <leader>l :action RecentLocations<CR>

" show local history
nnoremap <leader>h  :action LocalHistory.ShowHistory<CR>

" error navigation
nnoremap <leader>ge :action GotoNextError<CR>
nnoremap <leader>gE :action GotoPreviousError<CR>

" code search and navigation, review
nnoremap <c-s>f :action FindInPath<CR>
nnoremap <c-p> :action GotoFile<CR>

nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>os :action FileStructurePopup<CR>

" nnoremap <leader>gs :action GotoSymbol<CR>
" nnoremap <leader>gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
" nnoremap gt :action GotoTest<CR>
" nnoremap <leader>ga :action GotoAction<CR> " open window to issue commands
" nnoremap <leader>b :action ShowNavBar<CR>
" nnoremap <leader>s :action GotoRelated<CR>
" nnoremap <leader>h :action CallHierarchy<CR>
" nnoremap <leader>gb :action Back<CR> " ctrl o does it
" nnoremap <leader>gf :action Forward<CR> " ctrl i does it

" mimicking harpoon (as close as possible) through bookmarks
nnoremap <c-e> :action ShowBookmarks<CR>
nnoremap <leader>a :action ToggleBookmarkWithMnemonic<CR>
nnoremap <c-h> :action GotoBookmark1<CR>
nnoremap <c-j> :action GotoBookmark2<CR>
nnoremap <c-k> :action GotoBookmark3<CR>
nnoremap <c-l> :action GotoBookmark4<CR>

" ctrl c to esc
map <C-c> <Esc>

" === git commands ===
" Git log for current file
nnoremap <leader>gl :action Vcs.ShowTabbedFileHistory<CR>
" Blame (like :Gblame)
nnoremap <leader>gb :action Annotate<CR>
" Rollback file
" nnoremap <leader>grr :action Revert<CR>

" fold unfold code
"nnoremap zc :action CollapseRegion<CR>
"nnoremap zo :action ExpandRegion<CR>
"nnoremap <leader>zc :action CollapseAllRegions<CR>
"nnoremap <leader>zo :action ExpandAllRegions<CR>

" tab navigation
"nnoremap <TAB> :action PreviousTab<CR>
"nnoremap <s-TAB> :action NextTab<CR>

" handling shortcuts in vim instead of rider
sethandler <C-c> a:vim " esc remap
sethandler <C-w> a:vim " windows
sethandler <C-t> a:vim " terminal
sethandler <C-r> a:vim " redo
sethandler <C-k> a:vim " comments
sethandler <C-o> a:vim " navigate back
sethandler <C-i> a:vim " navigate forward
sethandler <C-d> a:vim " scroll down
sethandler <C-u> a:vim " scroll up
sethandler <C-p> a:vim " goto file


